In [1]:
import geopandas as gpd
import pandas as pd
import numpy as np

In [2]:
import pyproj

pyproj.datadir.set_data_dir('/Users/shai/anaconda3/envs/geo_env/share/proj')

In [3]:
bldgs_ = gpd.read_file('Json/simulationBldgs_Process.geojson')

In [4]:
bldgs_.head()

,fid,fid_1,Area,floors,height,bld_num,bld_addres,hebrew_adr,project_nu,units,...,North,East_wgs84,North_wgs8,active,start_date,end_date,GlobalID,deltaDays,Area_1,geometry
0,1,1.0,456.624954,3.0,13.0,94.0,215_22,"סוקולוב 22, בת ים",20140882,18.0,...,658982.882610,34.741942,32.023251,1,2000-01-01,2014-07-28,15067677-2690-4821-9de9-16bde042f745,5322,637.113372,"POLYGON ((175773.498 658979.093, 175773.398 65..."
1,2,2.0,265.821715,3.0,13.0,17.0,216_4,"מסריק 4, בת ים",20141086,12.0,...,659070.929640,34.741121,32.024042,1,2000-01-01,2014-10-08,374f9596-2397-433c-96d6-82ec7f214154,5394,370.895857,"POLYGON ((175693.328 659073.153, 175690.618 65..."
2,3,3.0,158.986180,3.0,13.0,214.0,209_6,"ארלוזורוב 6, בת ים",20140231,6.0,...,659680.635944,34.743961,32.029550,1,2000-01-01,2014-01-17,b662cfa9-66ce-4e9c-ba55-4474171e5ff6,5130,221.860645,"POLYGON ((175942.248 659676.573, 175946.218 65..."
3,4,4.0,743.350688,4.0,16.0,213.0,209_8_209_10_209_12,"ארלוזורוב 8-12, בת ים",20120894,48.0,...,659640.557221,34.743858,32.029188,1,2000-01-01,2013-01-20,12a97223-90b2-47db-8dc4-a179b2a5ed33,4768,1037.304708,"POLYGON ((175946.698 659615.573, 175946.658 65..."
4,5,5.0,391.764026,3.0,13.0,212.0,208_12,"הלפר 12, בת ים",20181295,24.0,...,659490.282833,34.743557,32.027832,1,2000-01-01,2018-10-01,e7b90ee0-7820-4929-b1b4-2849aef8fdae,6848,546.669831,"POLYGON ((175922.908 659499.193, 175923.918 65..."

In [5]:
bldgs_.columns

Index(['fid', 'fid_1', 'Area', 'floors', 'height', 'bld_num', 'bld_addres',
       'hebrew_adr', 'project_nu', 'units', 'project_na', 'project_ty',
       'status', 'East', 'North', 'East_wgs84', 'North_wgs8', 'active',
       'start_date', 'end_date', 'GlobalID', 'deltaDays', 'Area_1',
       'geometry'],
      dtype='object')

In [6]:
selColumns = ['bld_num', 'bld_addres','project_nu', 'project_ty',
       'status', 'active',
       'start_date', 'end_date']

In [7]:
bldgs_[selColumns]

,bld_num,bld_addres,project_nu,project_ty,status,active,start_date,end_date
0,94.0,215_22,20140882,1.0,Building before,1,2000-01-01,2014-07-28
1,17.0,216_4,20141086,1.0,Building before,1,2000-01-01,2014-10-08
2,214.0,209_6,20140231,2.0,Building before,1,2000-01-01,2014-01-17
3,213.0,209_8_209_10_209_12,20120894,1.0,Building before,1,2000-01-01,2013-01-20
4,212.0,208_12,20181295,1.0,Building before,1,2000-01-01,2018-10-01
...,...,...,...,...,...,...,...,...
164,0.0,215_14_102_3_215_12n,502-0201483,3.0,Building after,1,2022-08-22,2100-01-01
165,0.0,216_6n,502-0316588,3.0,Building after,1,2024-06-01,2100-01-01
166,0.0,140_1n,502-0316588,3.0,Building after,1,2024-06-01,2100-01-01
167,0.0,None,502-0316588,3.0,Building after,1,2024-06-01,2100-01-01
168,0.0,None,502-0368860,3.0,Building after,1,2027-05-07,2100-01-01

In [8]:
bldgs_[selColumns]['status'].unique()

array(['Building before', 'Planning & Permit', 'Construction',
       'Building after'], dtype=object)

In [9]:
bldgs_ = bldgs_[bldgs_['status'].isin(['Building before','Building after'])]

In [10]:
bldgs_.drop(columns=['fid_1', 'GlobalID', 'deltaDays', 'Area_1'],inplace=True)

In [11]:
bldgs_

,fid,Area,floors,height,bld_num,bld_addres,hebrew_adr,project_nu,units,project_na,project_ty,status,East,North,East_wgs84,North_wgs8,active,start_date,end_date,geometry
0,1,456.624954,3.0,13.0,94.0,215_22,"סוקולוב 22, בת ים",20140882,18.0,None,1.0,Building before,175757.206152,658982.882610,34.741942,32.023251,1,2000-01-01,2014-07-28,"POLYGON ((175773.498 658979.093, 175773.398 65..."
1,2,265.821715,3.0,13.0,17.0,216_4,"מסריק 4, בת ים",20141086,12.0,None,1.0,Building before,175680.060156,659070.929640,34.741121,32.024042,1,2000-01-01,2014-10-08,"POLYGON ((175693.328 659073.153, 175690.618 65..."
2,3,158.986180,3.0,13.0,214.0,209_6,"ארלוזורוב 6, בת ים",20140231,6.0,None,2.0,Building before,175950.936300,659680.635944,34.743961,32.029550,1,2000-01-01,2014-01-17,"POLYGON ((175942.248 659676.573, 175946.218 65..."
3,4,743.350688,4.0,16.0,213.0,209_8_209_10_209_12,"ארלוזורוב 8-12, בת ים",20120894,48.0,None,1.0,Building before,175941.019136,659640.557221,34.743858,32.029188,1,2000-01-01,2013-01-20,"POLYGON ((175946.698 659615.573, 175946.658 65..."
4,5,391.764026,3.0,13.0,212.0,208_12,"הלפר 12, בת ים",20181295,24.0,None,1.0,Building before,175911.943505,659490.282833,34.743557,32.027832,1,2000-01-01,2018-10-01,"POLYGON ((175922.908 659499.193, 175923.918 65..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
164,251,0.000000,30.0,142.0,0.0,215_14_102_3_215_12n,"ירושלים 3, סוקולוב 12, בת ים",502-0201483,220.0,None,3.0,Building after,175740.592708,659163.285898,34.741758,32.024877,1,2022-08-22,2100-01-01,"POLYGON ((175760.106 659148.592, 175722.694 65..."
165,252,0.000000,21.0,104.0,0.0,216_6n,"בלפור 6, בת ים",502-0316588,84.0,None,3.0,Building after,175925.258295,659934.217361,34.743678,32.031836,1,2024-06-01,2100-01-01,"POLYGON ((175932.896 659948.834, 175939.278 65..."
166,253,0.000000,21.0,104.0,0.0,140_1n,"אוסקר שינדלר 1, בת ים",502-0316588,84.0,None,3.0,Building after,175895.068907,659926.154939,34.743359,32.031762,1,2024-06-01,2100-01-01,"POLYGON ((175901.847 659939.347, 175907.711 65..."
167,254,0.000000,4.0,20.0,0.0,None,"יורדי הים 4, בת ים",502-0316588,0.0,None,3.0,Building after,175881.909237,659959.639984,34.743218,32.032064,1,2024-06-01,2100-01-01,"POLYGON ((175868.512 659957.070, 175889.315 65..."
168,255,0.000000,32.0,111.0,0.0,None,"שדרות העצמאות 75, בת ים",502-0368860,130.0,None,3.0,Building after,176414.902811,659597.208947,34.748876,32.028816,1,2027-05-07,2100-01-01,"POLYGON ((176427.353 659574.122, 176388.701 65..."

In [12]:
#bldgs_.to_file('Json/simulationBldgs_Process_march1_1729.geojson',driver='GeoJSON')

## Create Building Mapping Before and After

In [15]:
bldgs_ = gpd.read_file('Json/simulationBldgs_Process_march1_1729.geojson',driver='GeoJSON')
proj_numbers = bldgs_['project_nu'].unique()
bldgMapping = pd.DataFrame(columns=['BeforeBldgs','AfterBldgs','ProjType','ProjNumber'])
c = 0

In [16]:
for pNumber in proj_numbers:
    bldgPnumber = bldgs_[bldgs_['project_nu']==pNumber]
    before_ = bldgPnumber[bldgPnumber['status']=='Building before']['bld_addres'].values.tolist()
    after_ = bldgPnumber[bldgPnumber['status']=='Building after']['bld_addres'].values.tolist()
    projType_ = bldgPnumber['project_ty'].iloc[0]
    beforeStr=''
    for item in before_:
        beforeStr = beforeStr+item+','
    afterStr=''
    for item in after_:
        afterStr = afterStr+item+','
    bldgMapping.loc[c,['BeforeBldgs','AfterBldgs','ProjType','ProjNumber']]=[beforeStr[:-1],afterStr[:-1],projType_,pNumber]
    c+=1

In [18]:
bldgMapping

,BeforeBldgs,AfterBldgs,ProjType,ProjNumber
0,215_22,215_22_a,1.0,20140882
1,216_4,216_4_a,1.0,20141086
2,209_6,209_6_r,2.0,20140231
3,209_8_209_10_209_12,209_8_209_10_209_12_a,1.0,20120894
4,208_12,208_12_a,1.0,20181295
5,210_11,210_11_a,1.0,20150274
6,216_3,216_3_a,1.0,20141190
7,215_18,215_18_a,1.0,20140060
8,215_24,215_24_a,1.0,20110270
9,220_4,220_4_a,1.0,20131419
10,212_53,212_53_a,1.0,20160319
11,209_29,209_29_a,1.0,20141182
12,209_4,209_4_a,1.0,20180845
13,217_5,217_5_a,1.0,20140467
14,208_32,208_32_a,1.0,20180812
15,210_19,210_19_a,1.0,20180988
16,210_14,210_14_a,1.0,20100133
17,210_12,210_12_a,1.0,20180345
18,210_10,210_10_a,1.0,20140556
19,210_3,210_3_a,1.0,20181092
20,210_35,210_35_r,2.0,20171974
21,215_6,215_6_r,2.0,20150857
22,"211_19,211_20,211_19","211_22_r,211_20_r,211_19_r",2.0,20170076
23,"212_61,212_61,212_61,216_8","212_59_rr,212_61_1_rr,212_61_rr",3.0,502-0654715
24,"201_7,201_9,201_9,201_9","201_7_rr,201_9_rr",3.0,502-0424911
25,212_63,"212_63_rr,212_63_1_rr",3.0,502-0583948
26,"224_3,220_7,220_3,210_34,210_36,220_5,210_32_2...","220_3_224_3_rr,210_30_210_32_rr,220_5_rr,220_7...",3.0,502-0196659
27,"215_12,215_14,102_3,215_12","215_14_rr,215_14_102_3_215_12_rr",3.0,502-0201483
28,220_4,"215_2_rr,220_2_rr",3.0,502-0147678
29,"209_30,209_32,209_30,209_32","209_32_1_rr,209_32_rr",3.0,502-0316752
30,"225_8,225_6,210_8,225_6","225_6_rr,225_8_rr",3.0,502-0178285
31,"211_9,210_18,210_16,211_11,211_7","210_18_rr,211_11_rr",3.0,502-0317495
32,"221_30_211_26,211_25_211_27_211_29,221_22","221_22_221_29_rr,211_30_211_26_rr,211_27_rr",3.0,502-0189720
33,"221_4_221_2,221_6","216_6_rr,140_1_rr,300_4_rr",3.0,502-0316588
34,201_75,201_75_rr,3.0,502-0368860

In [19]:
bldgMapping.to_excel('bldgMapping_March_4.xlsx')

In [162]:
bldgMapping.rename(columns={'BeforeBldgs':'Original Building Code','AfterBldgs':'New Building Code','ProjType':'Project Type','ProjNumber':'Project Number'}).sample(10)

,Original Building Code,New Building Code,Project Type,Project Number
32,"221_30_211_26,211_25_211_27_211_29,221_22","221_22_221_29_rr,211_30_211_26_rr,211_27_rr",3.0,502-0189720
19,210_3,210_3_a,1.0,20181092
20,210_35,210_35_r,2.0,20171974
27,"215_12,215_14,102_3,215_12","215_14_rr,215_14_102_3_215_12_rr",3.0,502-0201483
8,215_24,215_24_a,1.0,20110270
17,210_12,210_12_a,1.0,20180345
5,210_11,210_11_a,1.0,20150274
1,216_4,216_4_a,1.0,20141086
29,"209_30,209_32,209_30,209_32","209_32_1_rr,209_32_rr",3.0,502-0316752
22,"211_19,211_20,211_19","211_22_r,211_20_r,211_19_r",2.0,20170076